{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "jest"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "jest": true
  }
}